/* =+=+=+=+=+=+=+=+= UNIVERSAL =+=+=+=+=+=+=+=+= */


body { font-family: "adelle", sans-serif; }

h1 { font-family: "Refigerator Deluxe", sans-serif;
  text-transform: uppercase;
}

h2 {
  font-size: 36px;
  margin-top: 24px;
}

h3 {
  font-family: "refrigerator-deluxe", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 3px;
}

.subtitle {
  font-family: "refrigerator-deluxe", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;  
}





/* =+=+=+=+=+=+=+=+= NAVIGATION =+=+=+=+=+=+=+=+= */


nav.top, nav.bottom {
  position: fixed;
  z-index: 104;
}

nav.top {
  top: 90px;
  width: 100%;
}

a#about, a#shop, a img#logoP {
  z-index: 104;
}


a#about, a#back, a#shop {
  text-decoration: none;
  color: #fff;
  font-family: "refrigerator-deluxe", sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
}


a#about, a#shop { 
  display: block;
  margin-right: 45px;
  text-align: right;
  float: right;
}

a#instagram {
  display: block;
  margin-right: 70px;
  text-align: right;
  float: right;
}

a#facebook {
  display: block;
  margin-right: 30px;
  text-align: right;
  float: right;
}

nav a img#logoP {
  margin-left: 90px;
  width: 85px;
}

a#about:hover, a#back:hover, a#shop:hover { text-decoration: underline; }

a#back {
  text-align: left;
  bottom: 75px;
  left: 70px;
}

nav.bottom {
  bottom: 90px;
  padding-left: 90px;
}





/* =+=+=+=+=+=+=+=+= INDEX =+=+=+=+=+=+=+=+= */


div.section {
  background-position: 50% 50%;
  background-size: cover;
  padding: 0;
}

p#selectedWorks { position: relative;
  top: 120px;
  font-family: "refrigerator-deluxe", sans-serif;
  background: none;
  padding: 8px;
  font-size: 24px;
  color: #fff;
  display: inline-block;
  letter-spacing: 4px;
}

div.imgContainer {
  padding-top: 100px;
  text-align: center;
  float: left;
  width: 40%;
  padding-left: 9%;
}

img.graphic {
  position: relative;
  z-index: 9;
}

section p, p.caption {
  font-size: 22px;
  line-height: 36px;
  font-family: "adelle", sans-serif;
  font-weight: 100;
}

ul.tags { list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.tags li {
  display: block;
  font-size: 12px;
  float: left;
  margin: 14px 14px 14px 0;
  padding: 12px;
  color: #000;
  background-color: #fff;
}


/* -- zooms -- */

div.gray, div.gray-view {
  z-index: 4;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
}

div.gray.view {
  display: block;
}

div.gray {
  display: none;
}


a.zoom {
  position: relative;
  z-index: 9;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 62px;
  width: 62px;
  clear: both;
  background-image: url('../images/zoomGlass.png');
  background-position: 0 0;
}

a.zoom.out { background-position: 0 62px; }

div.details {
  width: 55%;
  height: 100%;
}

div.details div {
  float: left;
  overflow: hidden;
  text-align: center;
}

div.details div img {
  display: block;
  position: relative;
}




/*-- red arrow animation --*/

img#redArrow {
  position: relative;
  animation: arrowBounce 0.9s infinite alternate ease-in-out;
  -webkit-animation: arrowBounce 0.9s infinite alternate ease-in-out;
  -moz-animation: arrowBounce 0.9s infinite alternate ease-in-out;
  -o-animation: arrowBounce 0.9s infinite alternate ease-in-out;
}

@-webkit-keyframes arrowBounce {
  from    {   top: 130px;
          width: 54px;
          height: 41px; }
  to      { top: 150px;
          width: 69px;
          height: 41px; }
}

@-moz-keyframes arrowBounce {
  from    {   top: 130px;
          width: 54px;
          height: 41px; }
  to      { top: 150px;
          width: 69px;
          height: 41px; }
}
@-o-keyframes arrowBounce {
  from    {   top: 130px;
          width: 54px;
          height: 41px; }
  to      { top: 150px;
          width: 69px;
          height: 41px; }
}

@keyframes arrowBounce {
  from    {   top: 130px;
          width: 54px;
          height: 41px; }
  to      { top: 150px;
          width: 69px;
          height: 41px; }
}




/* =+=+=+=+=+=+=+=+=  ABOUT =+=+=+=+=+=+=+=+= */

section#aboutme {
  position: relative;
  margin-top: 210px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 100px 100px 0;
  margin-bottom: 80px;
  width: 860px;
  color: #fff;
}

div.lists {
  float: left;
}

div.lists ul {
  list-style-type: none;
  line-height: 24px;
  padding: 0;
  width: 350px;
  margin-right: 50px;
}


div.lists ul li { 
  font-family: "adelle", sans-serif;
  font-size: 18px;
  margin: 17px 0;
  line-height: 22px;
}



/* =+=+=+=+=+=+=+= MEDIA QUERIES =+=+=+=+=+=+=+= */


/*-- phone --*/

@media screen and (min-width: 1px) and (max-width: 1024px) {

  div#left, div#right, div#top, div#bottom {
    background-color: transparent;
  }

  h1 {
    font-size: 80px;
    line-height: 70px;
    letter-spacing: 2px;
    margin: 0;
  }

  h2 {
    font-size: 42px;
    margin: 0px;
  }


  a#about, a#back, a#shop {
    font-size: 40px;

  }

  nav.top {
    top: 40px;
    position: absolute;
  }

  nav.bottom {
    position: relative;
    margin-bottom: 20px;
  }

  div.text {
    padding-top: 80px;
    float: left;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
  }

  section#aboutme {
    width: 80%;
    padding-left: 90px;
    margin-left: auto;
    margin-right: auto;
  }

  img.graphic { width: 80%; }

  div.imgContainer {
    padding-top: 0px;
    width: 100%;
    padding-left: 0px;
  }

  section p, p.caption {
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 60px;
  }


  a.zoom { display: none; }


}



/* -- desktop -- */


@media screen and (min-width: 1025px) {

  div#left, div#right, div#top, div#bottom {
    background: #f6f2e2;
    position: fixed;
    z-index: 99;
  }

  div#left {  left: 0; }

  div#right { right: 0; }

  div#top, div#bottom {
    left: 0;
    right: 0;
    height: 38px;
  }

  div#top { top: 0; }

  div#bottom { bottom: 0; }

  div#left, div#right {
    top: 0;
    bottom: 0;
    width: 38px;
  }

}




/* -- image widths for desktop -- */


@media screen and (min-width: 1451px) {

  div#heartbreakers div.imgContainer img.graphic { width: 600px; }

  div#oilBalsamic div.imgContainer img.graphic { width: 490px; }

  div#edu div.imgContainer img.graphic { width: 700px; }

  div#misc div.imgContainer img.graphic { width: 540px; }

}



/* -- midsize desktop -- */


@media screen and (min-width: 1025px) and (max-width: 1799px) {
  
  h1 {
    font-size: 100px;
    line-height: 110px;
    letter-spacing: 4px;
    margin: 0;
  }

  h2 {
    font-size: 32px;
    margin: 0;
  }

  div.text {
    padding-top: 40px;
    float: left;
    width: 33%;
    padding-left: 160px;
  }

  div.imgContainer { padding-left: 9%; }

}



/* -- large desktop -- */


@media screen and (min-width: 1800px) {

  div.text {
    padding-top: 40px;
    float: left;
    width: 36%;
    padding-left: 190px;
  }

  h1, h2 {
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 130px;
    line-height: 140px;
    letter-spacing: 6px;
  }

}
