body {
	background-color: #000;
	margin: 0;
	padding: 0;
	width: 100%;
}

/* =+=+=+=+=+=+=+=  M E N U   D R O P  =+=+=+=+=+=+=+= */

/* https://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}*/

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
	display: block;
}
body {
	line-height: 1;
}

blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------------------------------

Primary style

-------------------------------- */
*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}
/* --------------------------------

Main Components

-------------------------------- */
main {
}

.cd-nav-trigger {
	position: fixed;
	z-index: 1;
	display: inline-block;
}

.cd-nav {
	display: none;
	z-index: 1;
	width: 100%;
	background-color: #000;
}
.cd-nav .cd-navigation-wrapper {
	/* all navigation content */
	overflow-y: visible;
	padding: 40px 5% 40px calc(5% + 80px);
}

div.text p.CTA {
	color: #fff;
}

div.text {
	background-color: #000;
	margin: 0;
	padding: 4%;
	height: 70vh;
	overflow-y: hidden;
}

div.text h1,
div.text h2 {
	margin-left: 20%;
	margin-right: 20%;
	font-family: bicyclette, sans-serif;
	font-weight: 700;
	color: #fff;
	font-style: normal;
}

nav a {
	font-family: lft-etica-mono;
	font-weight: 300;
	font-style: normal;
	top: 40px;
	color: #03ff57;
	display: block;
	position: fixed;
}

div.text p {
	font-family: bicyclette, sans-serif;
	font-weight: 700;
	font-style: normal;
}

img.workimg {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
	width: 40%;
}

div#logo {
	position: fixed;
	top: 40px;
	left: 50px;
	color: #fff;
}

div#logo img {
	width: 50%;
}

div.workblock {
	margin: 0;
	padding: 4%;
	height: 82vh;
}

div.workblock p {
	position: relative;
	font-family: lft-etica-mono;
	font-weight: 300;
	font-style: normal;
	top: 300px;
	color: #fff;
	padding: 0;
}

div.workblock p.worktag {
	position: relative;
	background-color: #000;
	display: inline-block;
	padding: 10px;
	margin: 12px 0px;
	color: #fff;
	font-size: 0.75em;
}

div#shred,
div#hero {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

div.text p {
	font-size: 1.6em;
	margin: 200px 380px 0px 380px;
}

div.text h1 {
	margin-top: 12%;
	margin-bottom: 0;
	font-size: 5em;
}

div.text h2 {
	margin-top: 100px;
	margin-bottom: 0;
	font-size: 3.5em;
}

div.text p.CTA {
	font-size: 4em;
	width: 50%;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 15vh;
}

/* =+=+=+=+=+=+=+=  A B O U T   C O N T E N T  =+=+=+=+=+=+=+= */

div#about {
	background-color: #000;
	padding: 0;
	margin: 67px 0 0 0;
}

div#about p {
	font-family: bicyclette, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1.6em;
	line-height: 29px;
}

div#about p#intro {
	float: left;
	margin: 80px 0px;
	width: 55%;
	color: #fff;
	/*border: 2px solid #00f;*/
}

img#headshot {
	float: left;
	margin: 80px 6%;
	width: 26%;
}

div.listfl p.listflhead {
	padding-bottom: 30px;
	margin: 0 30px 0 0;
	color: #03ff57;
}

div.listfl {
	padding: 0;
	position: relative;
	width: 30%;
	float: left;
	color: #fff;
}

div.listfl ul {
	font-family: lft-etica-mono;
	font-weight: 300;
	font-style: normal;
	font-size: 0.9em;
	line-height: 25px;
	margin: 0;
}

div.listfl ul li {
	margin-bottom: 12px;
}

/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */

/* =+=+=+=+=+=+=+= MEDIA QUERIES =+=+=+=+=+=+=+= */

/*-- 820px --*/

@media only screen and (min-width: 601px) and (max-width: 820px) {
	div#logo img {
		/*border: 2px solid #00f;*/
	}

	div.text p {
		font-size: 1.1em;

		margin: 100px 180px 0px 180px;
	}

	div#about {
		padding: 3% 6%;
		margin: 0;
	}

	div#about p {
		float: left;
		margin: 40px 0px 0px 0px;
		font-size: 1.3em;
		line-height: 24px;
		/*border: 2px solid #00f;*/
	}

	div#about p#intro {
		float: left;
		margin: 140px 5% 0px 0px;
		width: 50%;
		color: #fff;
		/*border: 2px solid #ff0;*/
	}

	img#headshot {
		float: left;
		margin: 140px 0px 0px 0px;
		width: 41%;
	}

	div.listfl p.listflhead {
		padding: 10% 10% 20px 10%;
	}

	div.listfl {
		position: relative;
		width: 40%;
		float: left;
		color: #fff;
	}

	div.listfl ul li {
		margin-bottom: 7px;
	}

	div.listfl ul {
		font-size: 0.8em;
		line-height: 23px;
		margin: 0px 3%;
		/*border: 1px solid #fff;*/
	}

	img.workimg {
		position: relative;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 3%;
		width: 72%;
	}

	.cd-nav .cd-navigation-wrapper {
		/* all navigation content */
		padding: 40px 5%;
	}

	div.text h1,
	div.text h2 {
		margin-left: 120px;
		margin-right: 120px;
		font-family: bicyclette, sans-serif;
		font-weight: 700;
		font-style: normal;
	}

	div.text h1 {
		margin-top: 24vh;
		margin-bottom: 0;
		font-size: 4em;
	}

	div.text h2 {
		margin-top: 40px;
		margin-bottom: 0;
		font-size: 2.75em;
	}

	div.text p.CTA {
		font-size: 2.5em;
		width: 60%;
		margin-left: 20%;
		margin-right: 20%;
		margin-top: 12vh;
	}
}

/*-- 600px --*/

@media only screen and (min-width: 1px) and (max-width: 600px) {
	div.text {
		height: 75vh;
	}

	div.text h1,
	div.text h2 {
		margin-left: 50px;
		margin-right: 50px;
	}

	div.text h1 {
		margin-top: 160px;
		margin-bottom: 0;
		font-size: 3em;
	}

	div.text h2 {
		margin-top: 35px;
		margin-bottom: 0;
		font-size: 2em;
	}

	div.text p {
		margin: 100px 180px 0px 180px;
		font-size: 1.5em;
	}

	img.workimg {
		margin-top: 8%;
		width: 70%;
		/*border: 2px solid #f00;*/
	}

	div#logo {
		position: fixed;
		top: 30px;
		left: 34px;
		color: #fff;
	}

	div#logo img {
		width: 35%;
		/*border: 2px solid #f00;*/
	}

	div.worktext {
		position: relative;
		top: 80%;
	}

	div.workblock {
		height: 82vh;
	}

	div.workblock p {
		top: 0;
	}

	div.text p.CTA {
		font-size: 2.5em;
		width: 78%;
		margin-left: 8%;
		margin-right: 8%;
		margin-top: 20vh;
	}

	div#shred {
		background-position: 65% 0%;
		background-size: 150%;
		background-repeat: no-repeat;
	}

	div#about {
		padding: 0;
		margin: 0;
	}

	div#about p#intro {
		float: left;
		margin: 90px 0px 0px 0px;
		width: 100%;
		color: #fff;
	}

	div#about p {
		font-size: 1.2em;
		line-height: 23px;
	}

	.cd-nav .cd-navigation-wrapper {
		/* all navigation content */
		padding: 40px 5%;
	}

	div#lists {
		clear: left;
		/*border: 2px solid #f00;*/
	}

	div.listfl {
		width: 45%;
	}

	img#headshot {
		float: left;
		margin: 40px;
		width: 70%;
	}

	div.listfl p.listflhead {
		padding-bottom: 20px;
		/*border: 2px solid #ff0;*/
		line-height: 7px;
	}

	div.listfl ul {
		font-size: 0.8em;
		line-height: 16px;
	}

	div.listfl ul li {
		margin-bottom: 6px;
	}

	main {
		height: 178vh;
	}

	div#shred {
		height: 41vh;
		background-position: -140px 0px;
		background-size: cover;
	}

	div#shred div.worktext {
		position: relative;
		top: 70%;
	}
}
