body {

	background-color: #000;
	margin: 0;
	padding: 0;
}

/*body::-webkit-scrollbar { 
    display: none;
}*/


p {
	font-family: lft-etica-mono, sans-serif;
	font-size: 0.8em;
	font-weight: 300;
	color: #FFFFFF;
	line-height: 20px;
}


ul, p.smallP {
	color: #ffffff;
	font-family: lft-etica-mono, sans-serif;
	font-size: 0.7em;
	font-weight: 300;
	color: #FFFFFF;
}

li {
	margin-top: 10px;
}

a.buttonLink, input.btn-primary {
	display: inline-block;
	font-family: lft-etica-mono, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-size: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #BDFF06;
	border: 2px solid #BDFF06;
	margin-top: 15px;
	padding: 12px 27px;
	border-radius: 50px;
}

input.btn-primary {
	background-color: #000000;
}

a.buttonLink:hover, input.btn-primary:hover {
	background-color: #BDFF06;
	color: #000000;
	cursor: pointer;
}

#square {
	width: 180px;
	height: 180px;
	position: fixed;
	background-color: #121212;
	z-index: 99;
	border-right: 7px #BDFF06 solid;
}

#square img {
	width: 90px;
	padding: 40px;
}

#logo-horiz {
	width: 160px;
}

div#navlinks {
	display: flex;
}

p.navlink {
	font-family: mr-eaves-xl-modern, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	font-weight: 700;
	font-size: 0.9em;
	font-style: normal;
	position: fixed;	
	top: 50px;
	left: 300px;
	z-index: 99;

/* Safari */
-webkit-transform: rotate(-30deg);

/* Firefox */
-moz-transform: rotate(-30deg);

/* IE */
-ms-transform: rotate(-30deg);

/* Opera */
-o-transform: rotate(-30deg);

}

p.navlink2 {
	font-family: mr-eaves-xl-modern, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	font-weight: 700;
	font-size: 0.9em;
	font-style: normal;
	position: fixed;
	right: 60px;
	align-self: center;
	padding: 0;
}


p.navlink a, p.navlink2 a {
	color: #BDFF06;
	text-decoration: none;
}

p.navlink2:first-child {
	right: 200px;
}

p#byline {
	font-family: mr-eaves-xl-modern, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	font-weight: 700;
	font-size: 0.9em;
	font-style: normal;
	position: fixed;
	color: #FFFFFF;
	left: 240px;
	width: 50%;
}



h1 {
	font-family: mr-eaves-xl-modern, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	font-weight: 700;
	color: #BDFF06;
}

h2 {
	font-family: mr-eaves-xl-modern, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	font-weight: 700;
	color: #BDFF06;
}

h3 {
	font-family: mr-eaves-xl-modern, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	font-weight: 700;
	color: #BDFF06;
	font-size: 1.6em;
}

p {
	color: #FFFFFF;
}

#about-wrapper {
	display: flex;
	justify-content: center;
	gap: 4em;
}

.about-flex {
	width: 350px;
	padding: 140px 0;
}

#about-info {
	align-self: flex-end;
	order: -1;

}

.flexboxes-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 0;
	padding: 0;
}

.flexboxes-row .flexboxes:first-child {
	border-left: 0;
}


.flexboxes {
	border-bottom: 1px solid #444444;
	border-left: 1px solid #444444;
	font-size: 14px;
	font-style: bold;
	min-height: 200px;
	min-width: 375px;
	color: #FFFFFF;
	margin: 0;
	padding: 0;
	display: flex;
/*	transition: 1.0s;*/
}

.flexboxes:has(img.expand):hover {
	background-color: #111111;
	transition: 0.1s;
}

.flexboxes:has(img.expand) {
	cursor: pointer;
}

.flexboxes p.cellnum {
	padding: 10px;
	width: 40px;
}

.flexboxes p.cellnum img.expand {
	padding: 0 10px;
	right: 0;
	display: block;
	width: 20px;
	justify-self: flex-start;
	align-self: flex-start;
}

.flexboxes img {
	justify-self: center;
	align-self: center;
	display: block;
	margin: auto;
	padding: 100px 0;
	position: relative;
	right: 10px;

}

#r1n1{
	flex: 40;
	padding-top: 60px;
}	

#r1n2 {
	flex: 60;
/*	border-left: 1px solid #444444;*/
	padding-top: 80px;
}




#r2n1 {
	flex: 52;
}	

#r2n2 {
	flex: 48;
/*	border-left: 1px solid #444444;	*/
}	




#r3n1 {
	flex: 1;
}	



#r4n1 {
	flex: 30;
}	

#r4n2 {
	flex: 33;
/*	border-left: 1px solid #444444;	*/
}


#r4n3 {
	flex: 42;
/*	border-left: 1px solid #444444;	*/
}	


#r5n1 {
	flex: 35;
}

#r5n2 {
	flex: 35;
}

#r5n3 {
	flex: 30;
}



.show {
	display: flex;
}

.hide {
	display: none;
}

.information {
	color: #FFFFFF;
}



.projInfo {
	bottom: 0px;
	min-height: 40px;
	width: 100%;
	position: fixed;
	display: flex;
	gap: 0.5em;
	background-color: #000000;
	color: #FFFFFF;
	padding: 0 5px;
}

.projInfo div {
	justify-content: center;
	display: flex;
	gap: 0.25em;
}

.projLabel {
	font-size: 0.6em;
	color: #888888;
	text-transform: uppercase;
	justify-content: flex-start;
	letter-spacing: 0.2em;
	margin-top: 14px;
	margin-left: 37px;
	padding: 0;
}

.projDetail {
	padding: 0;
	justify-content: flext-start;
}

.hrbk {
	border-top: 4px solid #000000;
	border-bottom: none;
	border-left: none;
	border-right: none;
	margin: 0;
	padding: 0;
}

.hrgry {
	border-top: 1px solid #444444;
	border-bottom: none;
	border-left: none;
	border-right: none;
	margin: 0;
	padding: 0;
}

#collaboration {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
	line-height: 22px;
}


#clients {
	clear: both;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	gap: 1.5rem;
	margin-bottom: 100px;
	margin-left: 150px;
	margin-right: 150px;
}

#clients p {
	text-align: center;

}

.client-logo {
	padding: 20px 0;
}

.client-logo img {
	width: 200px;
	margin: 0 40px;
}

p#cta {
	text-align: center;
	margin: 120px 0;
	letter-spacing: 0.18em;
}

#arrow {
	width: 140px;
	padding: 0 17px 0 8px;
	display: inline-block;
	position: relative;
	top: 21px;
}

footer {
	text-align: center;
	clear: both;
	min-height: 300px;
	background-color: #131313;
}

#email {
	color: #BDFF06;
}

.scrollAdj {
	margin-right: 15px;
}


#clientsGif {
	width: 345px;
	border-radius: 16px;
	margin-top: 20px;
	margin-bottom: 60px;
}


.container h2 {
	color: #BDFF06;
}

label, small {
	font-family: lft-etica-mono, sans-serif;
	font-size: 0.64em;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	color: #FFFFFF;
	width: 420px;
	display: block;

}

form#contactme {
	position: relative;
	top: 120px;
}

form#mailingList {
	position: relative;
	top: 0;
}

div.row, div.container {
	margin: 0px 20px 40px 0;
}


#contact-wrapper, #mailingList-wrapper, #mailingList-wrapper-header {
	padding-top: 40px;
	width: 750px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}


#mailingList-wrapper-header {
	padding-top: 140px;
}

.form-control {
	border-bottom: 1px solid #444444;
	border-left: none;
	border-right: none;
	border-top: none;
	background-color: #000000;
	color: #FFFFFF;
	padding: 10px;
	margin-bottom: 20px;
	width: 95%;
}

.form-field-narrow {
	width: 46%;
	float: left;
}

#horns {
	animation: horns2 3s infinite;
	transform: rotate(-24deg);
}

@keyframes horns2 {
  	50% {transform: rotate(24deg);}
}

fieldset {
	border: none;
}

/*-- 1200px --*/
@media only screen and (min-width: 601px) and (max-width: 1400px) {

	.projInfo {
		gap: 0.3em;
		width: 90%;
		padding-right: 100px;
	}

	.projLabel {
		font-size: 0.5em;
		margin-left: 20px;

	}

	#contact-wrapper, #mailingList-wrapper, #mailingList-wrapper-header {
		width: 75%;
	}

}


/*-- 950px --*/
@media only screen and (min-width: 1px) and (max-width: 950px) {

	p#byline {
		display: none;
	}


/*-- 600px --*/

@media only screen and (min-width: 1px) and (max-width: 600px) {

	nav {
		top: 0px;
	}

	body {
		overflow-x: hidden;
	}

	h1 {
		font-size: 1.6em;
	}

	h2 {
		font-size: 1.2em;
		line-height: 26px;
		margin-top: 44px;
	}

	a.buttonLink {
		font-size: 0.9em;
	}

	.flexboxes-row .flexboxes {
		border-left: 0;
	}

	#r1n2 {
		padding-top: 0px;
	}

	#collaboration {
		width: 64%;
		font-size: 1.0em;
		line-height: 24px;
	}

	.projInfo {
		display: block;
		padding-bottom: 55px;
		margin-right: 0;
	}

	.projInfo div {
		display: flex;
		justify-content: flex-start;
	}

	.projLabel, .projDetail {
		margin: 6px;
	}

	#logo-horiz {
		width: 100px;
	}

	#clientsGif {
		width: 70%;
		border-radius: 10px;
	}

	p.navlink2 {
		font-family: mr-eaves-xl-modern, sans-serif;
		text-transform: uppercase;
		letter-spacing: 0.3em;
		font-weight: 700;
		font-size: 0.8em;
		right: 20px;
		margin: 6px;
	}

	p.navlink2:first-child {
		right: 130px;
	}

	#arrow {
		display: none;
	}

	#about-wrapper {
		flex-wrap: wrap;
		gap: 0em;
	}

	p#cta {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}

	.about-flex {
		width: 72%;
		padding: 100px 0 20px 0;
	}

	#about-info {
		order: 0;
		padding-top: 20px;
	}

	.scrollAdj {
		margin-right: 0;
	}

	#clients {
		margin-left: 12px;
		margin-right: 12px;
	}

	.client-logo {
		padding: 10px 0;
	}

	.client-logo img {
		width: 136px;
		margin: 0;
	}

	#contact-wrapper, #mailingList-wrapper, #mailingList-wrapper-header {
		width: 90%;
		margin-left: 8%;
		margin-right: 8%;
	}

	#mailingList-wrapper-header {
	padding-top: 65px;
	}


	form#contactme {
		top: 70px;
	}

	form#mailingList {
		top: 0;
	}

	div.row, div.container {
		margin: 20px 15px 20px 0;
	}


}

