div.text {

	background-color: #000;
	margin: 0;
	padding: 4%;
	height: 60vh;
	overflow-y: hidden;
}

div.text p {
	
	color: #FFF;
	margin: 200px 380px 0px 380px;
	font-size: 2em;
}


img.workimg {
	
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20%;
	width: 40%;
}

 div#logo {
 	
 	position: fixed;
 	top: 40px;
 	left: 50px;
 	color: #FFF;
}

div#logo img {

	width: 50%;
}

div.workblock {

	margin: 0;
	padding: 4%;
	height: 98vh;

}

div.workblock p {

	position: relative;
	top: 45%;
	color: #fff;
	margin: 0;
	padding: 0;

}

div.workblock p.worktag {

	background-color: #000;
	display: inline-block;
	padding:  12px;
	margin: 12px 0px;
	color: #FF0;
	font-weight: bold;
	

}


div#shred {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

/* =+=+=+=+=+=+=+= MEDIA QUERIES =+=+=+=+=+=+=+= */


/*-- 1400px --*/

@media screen and (min-width: 801px) and (max-width: 1400px) {

	div.text p {
		margin: 200px 240px 0px 200px;
		font-size: 1.5em;
		background-color: #F00;
	}


}


/*-- 800px --*/

@media screen and (min-width: 1px) and (max-width: 800px) {

	div.text {
		height: 75vh;
	}

	div.text p {
		margin: 175px 70px 0px 70px;
		font-size: 1.5em;
		background-color: #F00;
	}

	img.workimg {
		margin-top: 30%;
		width: 80%;
	}

	 div#logo {
	 	
	 	position: absolute;
	 	top: 30px;
	 	left: 34px;
	 	color: #FFF;
	}

	div#logo img {
		width: 35%;
	}

	div.workblock {
		height: 72vh;
	}

	div.workblock p {

		position: relative;
		top: 95%;
		color: #fff;
		margin: 0;
		padding: 0;
	
	}

	div#shred {
		background-position: 65% 0%;
		background-size: 150%;
		background-repeat: no-repeat;
	}


}