body {

	background-color: #000;
	margin: 0;
	padding: 0;
}

.flexboxes-row {
	display: flex;
	justify-content: flex-start;
	margin: 0;
	padding: 0;
}


.flexboxes {
	border-bottom: 1px solid #444444;
	font-size: 14px;
	font-style: bold;
	height: 30vh;
	color: #FFFFFF;
	margin: 0;
	padding: 0;
	display: flex;
}

.flexboxes p.cellnum {
	padding: 20px;
}

.flexboxes img{
	justify-self: center;
	align-self: center;
	display: block;
	margin: auto;
	position: relative;
	right: 30px;

}

#r1n1{
	flex: 1;
}	

#r1n2{
	flex: 1;
	border-left: 1px solid #444444;	
}	

#r2n1{
	flex: 2;
}	

#r2n2{
	flex: 3;
	border-left: 1px solid #444444;	
}	

#r2n3{
	flex: 1;
	border-left: 1px solid #444444;
}	

#r2n4{
	flex: 1;
	border-left: 1px solid #444444;
}	


#r3n1{
	flex: 1;
}	