body {

	background-color: #000;
	margin: 0;
	padding: 0;
}

.flexboxes-container {
	display: flex;
	justify-content: flex-start;
	margin: 0;
	padding: 0;
}


.flexboxes {
	border-bottom: 1px solid #444444;
	font-size: 24px;
	font-style: bold;
	min-height: 300px;
	color: #FFFFFF;
	margin: 0;
	padding: 0;
}

#r1n1{
	flex: 1;
}	

#r1n2{
	flex: 1;
	border-left: 1px solid #444444;	
}	

#r1n3{
	flex: 2;
	border-left: 1px solid #444444;	
}	

#r1n4{
	flex: 3;
	border-left: 1px solid #444444;	
}	

#r1n5{
	flex: 1;
	border-left: 1px solid #444444;
}	