body {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}
button {
  cursor: pointer;
}
.centered {
  text-align: center;
  margin: 0 auto;
}
.prestiwck-dropdown-container {
  display: none;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/291829/prestwick-p-15p.png)
      no-repeat 95% 33%,
    linear-gradient(135deg, rgba(19, 30, 45, 1) 0%, rgba(48, 72, 103, 1) 100%);
  position: relative;
  padding: 60px 20px;
}

#page {
  height: 100vh;
  background: no-repeat center top
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/291829/pgg-dummy-bg.jpg);
}

.prestiwick-dropdown-content {
  width: 100%;
  max-width: 1420px;
  min-height: 600px;
  margin: 0 auto;
  paadding-top: 30px;
}

.dd .prestiwick-dropdown-content * {
  color: #fff;
}

.dd .flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.dd .left {
  max-width: 55%;
  padding-right: 15px;
}
.dd .right {
  max-width: 45%;
  padding-left: 15px;
}

.dd hr.hr {
  margin: 0 0 40px 0;
  padding: 0;
  border: none;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.3);
}

.dd h1 {
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
  margin: 10px 0 20px 0;
  font-size: 50px;
}

.dd h2,
.dd h3,
.dd p {
  font-weight: normal;
  font-family: "Vollkorn", serif;
  margin: 10px 0 20px 0;
}
.dd p.underlined {
  display: inline-block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.dd h2.big-title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 34px;
}

.dd p {
  font-size: 18px;
  line-height: 1.5;
}
img.employees {
  border-radius: 4px;
  box-shadow: 0 34px 20px -30px rgba(0, 0, 0, 0.7);}
 
.all-brands {
  margin: 30px auto;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  padding: 10px 30px;
  box-shadow: 0 30px 30px -20px rgba(0, 0, 0, 0.88);
}

.prestwick-dropdown-trigger {
  position: relative;
}

.toggle.top-left {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  position: absolute;
  top: 0;
  padding: 4px 16px;
  border-radius: 0 0 6px 6px;
  font-size: 11px;
  color: #777;
  text-transform: uppercase;
  left: 50%;
  transform: translate(-85px, 0px);
}

.toggle.top-right {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/291829/close-from-noun-project.svg)
    center center/60px;
  text-indent: -999em;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  transform: scale(0.9);
  transition: 0.12s all ease;
}
.toggle.top-right:hover {
  transform: scale(1.1) rotate(450deg);
  opacity: 1;
}
.toggle.top-right:active {
  transform: scale(.8) rotate(450deg);
}
